
body {
    color: white;
}
.contenedor1 {
    background-color:  #4CAF50;
    width: 50%;
    padding:2em;
    border-bottom: 2em solid grey;
    border-right: 2em solid black;
    border-bottom-style: inset;
    border-bottom-style: dashed;
    margin-bottom: 5em;
}

.contenedor2 {
    background-color:  black;
    width: 75%;
    padding:5em;
    border-style: inset;
    border-top: 2em solid #4CAF50;
    border-bottom: 2em solid #4CAF50;
    border-left: 2em solid black;
    
    
}