<h1>Directivas</h1>

<form>
  <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="nombre" />
  <input type="text" name="apellidos" placeholder="Apellidos" [(ngModel)]="apellidos" />
  <input type="button" value="Añadir" (click)="mostrarParrafo()" />
</form>

<p *ngIf="parrafo != ''; else sinAlta">
  {{ parrafo }}
</p>

<ng-template #sinAlta>
  <p>No ha sido dado de alta</p>
</ng-template>

<div *ngFor="let persona of personas">
  <p *ngIf="persona.edad >= 30">{{ persona.nombre }} {{ persona.apellidos }} {{ persona.edad }}</p>
</div>

<input type="button" value="A" (click)="tunearMensaje($event)">
<input type="button" value="B" (click)="tunearMensaje($event)">
<input type="button" value="C" (click)="tunearMensaje($event)">
<div>{{mensajeBotones}}</div>
<!-- <p @if(parrafo != '') @else></p> -->
 <app-articulo></app-articulo>
<router-outlet />
