body {
    text-align: center;
    color: white;
    background-color: black;
}
.contenedor{
    height: 300px;
    width: 100%;
    display: flex;
    position: relative;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.item {
    height: 280px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div p {
    color: black;
    font-size: 20px;
}
