@font-face {
    font-family: 'estilo1';
    src: url('../fonts/RetroBritish-DemoVersion-Regular.otf'),
         url('../fonts/RetroBritish-DemoVersion-Regular.ttf'),
         url('../fonts/RetroBritish-DemoVersion-Regular.woff'),
         url('../fonts/RetroBritish-DemoVersion-Regular.woff2');
}
h1 {
    display: flex;
    justify-content: center;
    font-family: 'estilo1'
}
.contenedor {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.columna {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {
    margin-top: 20px;
}


@media print {
    .contenedor i {
       display: none; 
    }
    .contenedor {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen {
    body {
        background-color: #f6f6f6;
    }
}

