
/*      FUENTES     */

@font-face{
    src: url('../fonts/segoeuithis.ttf') format('truetype');
    font-family: 'segoui';
}

/*-----------------------------------------------------*/
body {
    font-family: 'segoui';
}

.contenedor {
    border: 1px solid;
    display: grid;
    grid-template:60% 40% / 35%65%;
    width: 60%;
    height: 600px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 70px;
}

.item1 {
    position: relative;
    grid-area: 1 / 1 / span 1 / span 2;
    display: flex;
}

.item2 {
    grid-area: 2 / 1 / span 1 / span 2;
    display: flex;
    flex-direction: column;
}
.logo {
    width: 35%;
    position: relative;
    text-align: center;
}
.logo img {
    width: auto;
    height: 90%;
    margin-top: 30px;
}
.parrafo {
    width: 65%;
}
.titulo {
    font-size: 34px;
    line-height: 40px;
    margin-top: 10px;
} 
.item {
    width: 100%;
    height: 33%;
}
.lorem {

}