
/*      FUENTES     */

@font-face{
    src: url('../fonts/segoeuithis.ttf') format('truetype');
    font-family: 'segoui';
}

/*-----------------------------------------------------*/
body {
    font-family: 'segoui';
}
p {
    font-size: 15px;
    line-height: 20px;
}

.contenedor {
    border: 1px solid;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(5, 1fr);
    width: 60%;
    margin: 0 auto;
}
.logo {
    position: relative;
    text-align: center;
    grid-area: 1 / 1 / span 1 / span 2
}

.logo img {
    width: 65%;
    height: auto;
    margin-top: 30px;
}
    
.parrafo {
    grid-area: 1 / 3 / span 1 / span 3;
    padding-right: 100px;
}

.titulo {
    font-size: 34px;
    line-height: 40px;
    margin-top: 10px;
} 
.contenedor2 {
    grid-area: 2 / 1 / span 1 / span 5;
    display: grid;
    grid-template: 33% 33% 33%  / repeat(5, 1fr);
}
.item1 {
    grid-area: 1 / 1 / span 1 / span 5;
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
}
.item2 {
    grid-area: 2 / 1 / span 1 / span 5;
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
}
.item3 {
    grid-area: 3 / 1 / span 1 / span 5;
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
}
.item1-1 {
    grid-area: 1 / 1 / span 1 / span 2;
    border-top: 1px solid grey;
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.item1-1-1 {
    grid-area: 1 / 3 / span 1 / span 3;
    border-top: 1px solid grey;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
@media (max-width: 375px) {
    .contenedor {
        width: 95%;
        margin: 0 auto;
    }
    .logo,
    .parrafo {
        display: none;
    }
    .item1-1 {
        margin: 0;
        margin-left: 20px;
        justify-content: space-around
    }
    .item1-1-1 {
        margin: 0;
        margin-right: 20px;
    }
    .contenedor2 {
        height: auto;
    }
    .i {
        margin-bottom: 10px;
    }
    .item2 {
        margin-bottom: 45px;
    }

}



