
/*      FUENTES     */

@font-face{
    src: url('../fonts/segoeuithis.ttf') format('truetype');
    font-family: 'segoui';
}

/*-----------------------------------------------------*/
body {
    font-family: 'segoui';
}

.contenedor {
    border: 1px solid;
    display: grid;
    grid-template:repeat(2, 1fr) / repeat(5, 1fr);
    width: 60%;
    margin: 0 auto;
}
.logo {
    position: relative;
    text-align: center;
    grid-area: 1 / 1 / span 1 / span 2
}

.logo img {
    width: 85%;
    height: auto;
    margin-top: 30px;
}
    
.parrafo {
    grid-area: 1 / 3 / span 1 / span 3;
    margin-right: 100px;
}

.titulo {
    font-size: 34px;
    line-height: 40px;
    margin-top: 10px;
} 
.item {
    width: 100%;
    height: 33%;
}
.lorem {

}