.contenedor {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: 1px solid red;
}

.item {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}
.item img {
    width: 100%;
}