.password::before {
    background-image: url('../img/mono_viendo.png');
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 6px;
    top: 3px;
}
 
input.contraseña {
    padding-left: 20px;
    width: 150px;
    height: 20px;
}
 
.password:focus-within::before {
    background-image: url('../img/mono_sin_ver.png');
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 6px;
    top: 3px;
}