body {
    margin: 0;
}

.cabecera {
    background-color: #52a7f9;
    height: 100px;
    display: flex;
    align-items: center;
}

.pie {
    background-color:#0365c0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.pie p {
    margin-left: 20px;
}
.cabecera p {
    margin-left: 20px;
}
.contenedor {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    width: 500px;
    height: 300px;
    gap: 5px;
    flex-wrap: wrap;
    position: relative;
    
    
}
.main-content {
    background-color: #6fc041;
    width: 300px;
    height: 150px;
    
}
.sidebar {
    background-color: #b36ae2;
    width: 195px;
    height: 150px;

}
.item {
    background-color: #f3901a;
    width: 247.5px;
    height: 145px;
}
.main {
    display: flex;
    justify-content: center;
}

p {
    color: white;
    margin: 0;
    font-size: 20px;
    
}
.contenedor div {
    display: flex;
    justify-content: center;
    align-items: center;
}