.grid_contenedor {
    display: grid;
    grid-template:50% 50% / repeat(6, 1fr);
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
.item {
    border: 1px solid;
}
.item_1 {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_2 {
    grid-column-start: 4;
    grid-column-end: span 3;
}
.item_3 {
    grid-column: 1 / 3;
}
.item_4 {
    grid-column: 3 / 5;    
}
.item_5 {
    grid-column: 5 / span 2;
}

.contenedor2 {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
.item1_1 {
    border: 2px solid orange;
    /*grid-column: 2 / 4;
    grid-row: 6 / 8;*/

    grid-area: 6 / 2 / span 2 / span 2; 
    /*1ยบ posicion fila / 1ยบ pos col / ult pos fila / ult pos col*/
}