/* Tipo de letra del body*/

@font-face {
    src: url('../fonts/xiaomi.woff2') format('woff2');
    font-family: 'tipoXiaomi';
}

body {
    font-family: 'tipoXiaomi';
    margin: 0;
}

.anuncioMovil {
    width: 100%;
    height: 39px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.exit {
    display: flex;
    position: absolute;
    right: 250px;
    background-color: rgb(185, 184, 184);
    border-radius: 40%;
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
}
.textoAnuncio {
    position: absolute;
    left: 690px;
}

/*//////////////////////////////////////////////////////////////////////////////////////*/

.menu {
    position: relative;
    height: 58px;
    width: 100%;
    display: flex;
}
.menu1 {
    position: relative;
    display: flex;
    gap: 58px;
    align-items: center;
    justify-content: right;
    width: 50%;
    font-size: 15px;
}
.menu2 {
    position: relative;
    display: flex;
    gap: 58px;
    align-items: center;
    justify-content: center;
    width: 48%;
    font-size: 15px;
}
.item1 {
    width: 3.3%;
}
.item {
    text-decoration: none;
    color: black;
}


/*//////////////////////////////////////////////////////////////////////////////////////*/

.anuncioMovil1 {
    width: 100%;
    height: 30px;
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.exit1 {
    display: flex;
    position: absolute;
    right: 250px;
    background-color: #918f8f;
    border-radius: 40%;
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
}

/*//////////////////////////////////////////////////////////////////////////////////////*/

.carrusel {
    background-image: url('..//img/fondo-carrusel-xiaomi.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cuadradoTexto {
    position: absolute;
    width: 470px;
    height: 380px;
    left: 315px;
    
    
}
.flecha1 {
    position: absolute;
    background-color: rgb(206, 205, 205);
    left: 80px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 38%;
}
.flecha2 {
    position: absolute;
    background-color: rgb(206, 205, 205);
    right: 80px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 38%;
}
.flecha1, .flecha2 i{
    font-size: 20px;
    color: rgb(228, 225, 219);
}

.cuadradoTexto1 {
    background-color: black;
    color: white;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;   
}
.cuadradoTexto2 {
    width: 100%;
    font-size: 45px;
    margin: 0;
}
.cuadradoTexto3 {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: right;
    
}
.cuadradoTexto3 img {
    width: 35px;
    height: 45px;
}
.boton-cuadrado-texto {
    position: absolute;
    margin-top: 35px;
    color: white;
    text-decoration: none;
    background-color: rgb(31, 31, 31);
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}

/*//////////////////////////////////////////////////////////////////////////////////////*/

main {
    background-color: #f5f3f3;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-populares {
    display: flex;
    border: 1px solid red;
    height: 20px;
    width: 910px;
    justify-content: space-between;
}
