<div class="container">
  <h2>Listado de Autoescuelas</h2>

  <table class="table" *ngIf="autoescuelas.length > 0; else noHayDatos">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>CIF</th>
        <th>Ciudad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of autoescuelas">
        <td>{{ a.id }}</td>
        <td>{{ a.nombre }}</td>
        <td>{{ a.cif }}</td>
        <td>{{ a.direccion.ciudad }}</td>
        <td>
          <button class="btn-ver">Ver Detalles</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noHayDatos>
    <p>No hay autoescuelas registradas o el servidor está apagado.</p>
  </ng-template>
</div>
