<div class="contenedor-principal">
  <div class="tarjeta-login">
    <h1>LetsDrive</h1>
    <p>Inicia sesión o regístrate al instante</p>

    <div class="formulario">
      <div class="grupo-input">
        <label>Email de usuario</label>
        <input type="email" [(ngModel)]="email" placeholder="ejemplo@correo.com">
      </div>

      <div class="grupo-input">
        <label>Contraseña</label>
        <input type="password" [(ngModel)]="contrasenya" placeholder="Mínimo 4 caracteres">
      </div>

      <button (click)="alPulsarEntrar()">Entrar ahora</button>
    </div>
  </div>
</div>
