body {
    margin:0;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
li {
    margin: 0 2%;
}
main,footer{ 
    text-align: center; 
}

.contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    background-color: blue;
    width: 35%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

footer {
    margin-top: 2em;
}