#heroCarousel {
  position: relative;

  .carousel-item {
    height: 68.5vh;
    min-height: 450px;
    background-color: #000;
  }

  .hero-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }


  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.2) 100%);
    z-index: 1;
  }

  .carousel-caption {
    z-index: 2;
  }

  .carousel-control-prev,
  .carousel-control-next {
    z-index: 10;
    width: 5%;
  }
}
