body {
    width: 100%;
    margin: 0 auto;
    background-color: antiquewhite;
    height: 100vh;
}

.contenedor {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: auto auto;
    background-color: red;
    gap: 20px;
    padding: 20px;
    padding-top: 20%;
}

.formulario {
    display: flex;
    width: 100%;
    gap: 15px;

}

.mb-3 {
    display: flex;
    width: 100%;
    background-color: aqua;
    padding: 10px;
    flex-direction: row;
}

.text {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: blueviolet;
}

.form-label {
    display: flex;
    width: 20%;
}

.form-control {
    display: flex;
    width: 100%;
}

form {
    width: 100%;
}

.form-select {
    display: flex;
}

.gcont {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
}

.lorem {
    display: flex;
    width: 50%;
    color: blueviolet;
}

.lorem2 {
    display: flex;
    font-weight: 2px;
    width: 50%;
    flex-direction: column;
}

.parrafos {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 30px;
}

img {
    height: 200px;
    width: 250px;
}