body {
    width: 100%;
    height: 100vh;
}

.contenedor {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    background-color: orange;
    margin-top: 20px;
    justify-content: space-between;
}

.item1 {
    width: 30%;
    color: aqua;
}

.espacio {
    width: 10%;
    background-color: aqua;
}


.formulario {
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

.mb-3 {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.cuerpo {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
}

.form-control {
    display: flex;
    width: 100%;
}

.form-label {
    border-left: 5px solid black;
    padding-left: 3px;
    align-items: center;
    display: flex;
    width: 20%;
}


.check {
    width: 90%;
    gap: 20px;
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    padding: 10px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: flex-start;
}

.boton {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ojo {
    display: inline-block;
    background-size: cover;
    width: 45px;
    height: 45px;
    z-index: 999;
    right: 10px;
    margin: 0 auto;
    top: -2px;
    border: none;
    background-color: transparent;
    position: absolute;
}

form {
    width: 100%;
}