<label for="numero">Introduce un número:</label>
<input type="number" id="numero" [(ngModel)]="id">

<div>
  <button (click)="mostrarUsuario(); cambiarDiv()">Buscar</button>
</div>

<div [hidden]="!cambiarDiv">
  <p>{{(usuario | async)?.nombre}}</p>
  <p>{{(usuario | async)?.usuario}}</p>
  <p>{{(usuario | async)?.correo}}</p>
  <ul style="list-style-type: none;">
    <li><p>{{(usuario | async)?.direccion?.suite}}</p></li>
    <li><p>{{(usuario | async)?.direccion?.street}}</p></li>
    <li><p>{{(usuario | async)?.direccion?.city}}</p></li>
  </ul>
</div>

