@font-face{
    src: url('../fonts/octosale/Octosale.ttf') format('ttf'), 
         url('../fonts/octosale/Octosale.otf') format('otf');
    font-family: 'octosale';
}
body {
    margin: 0;
}
.cabecera {
    position: relative;
    border: 1px solid;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(35, 1fr);
    width: 99.9%;
    height: 90px;
    background-color: #27a00f;
}
.logo {
    border: 2px solid;
    grid-area: 1 / 3 / span 5 / span 3;
    position: relative;
}
.textoLogo {
    font-family: "octosale";
}