/*  LETRAS  */
@font-face{
    src: url('../fonts/Papernotes/Papernotes.otf') format('ttf'), 
         url('../fonts/Papernotes/Papernotes.ttf') format('woff'),
         url('../fonts/Papernotes/Papernotes.woff2') format('woff');
    font-family: 'papernotes';
}
@font-face{
    src: url('../fonts/SimpleHandMades/SimpleHandmade.otf') format('ttf'), 
         url('../fonts/SimpleHandMades/SimpleHandmade.ttf') format('woff');
    font-family: 'simplehand';
}

/******************************************************************************/
body {
    background-color: rgba(145, 141, 141, 0.267);
}
.contenedor {
    position: relative;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    width: 98%;
    margin: 40px auto;
}

.logo {
    
    grid-area: 1 / 1 / span 5 / span 3;
    position: relative;
}
.logo img {
    border-radius: 50%;
}

.menu {

    grid-area: 2 / 5 / span 3 / span 32;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
}
.item2:hover {
    background-color: rgb(103, 183, 236, 0.3);
    border-radius: 80%;
}
.item3:hover {
    background-color: rgb(103, 183, 236, 0.3);
    border-radius: 80%;
}
.item4:hover {
    background-color: rgb(103, 183, 236, 0.3);
    border-radius: 80%;
}
.fa-solid:hover {
    padding: 20px;
    background-color: rgb(103, 183, 236, 0.3);
    border-radius: 80%;
}
.item1:hover {
    background-color: rgb(103, 183, 236, 0.3);
    border-radius: 80%;
}
.categorias {
    grid-area: 7 / 1 / span 24 / span 3;
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgb(165, 42, 42, 0.3);
    border-radius: 100px;
}

.div_productos {
    
    border-radius: 50px;
    grid-area: 7 / 5 / span 25 / span 30;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
}

.item {
    font-family: 'papernotes';
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item5{
    justify-content: space-around;
}
.cat {
    font-size: 20px;
    font-family: 'simplehand';
}
.producto {
    margin-left: 40px;
    margin-bottom: 40px;
    background-color: rgba(189, 189, 189, 0.911);
    border-radius: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;

}
.producto img {
    width: 100%;
}
