footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer a:hover {
    color: #ffc107 !important;
    transition: 0.3s;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.bi {
    vertical-align: middle;
}

footer .bi:hover {
    transform: scale(1.2);
    display: inline-block;
}
